div{
    height: 100px;
    width: 100px;
    background-color: aqua;
    border: 2px solid black;
    display: inline-block;
}
/* position playground */
body{
    background-image: url("fox_photo.jpg") ;
    background-size: cover;
}


#box1 {
    position: static;
    background-image: url("fox_photo.jpg") ;
    background-size: cover;
    
    
}

#box2 { 
    position: relative;
     top: 20px;
     left: 10px;
}

#box3
{
    /* position: absolute;    */
    position: sticky;
    top: 500px;
    left: 20px;
}

#box4 {
    position: fixed;
  top: 0px     ;
    
}

/* z index */
{
    /* z-index: 1;  box overlapign each othersssssssddddddddddddddddddddddddddddddddddfffffffffffffffffffffff0rrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrf */
}